
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lesson3</title>


    <script>
        /* Primitives (Value) Types
         * string
         * number
         * boolean
         * undefined
         * null
         * Symbol (ES6)
         
         */


        let myName = "Armin"; // String Literal
        console.log(`${myName} type is ${typeof myName}`);

        let age = 19; // Number Literal

        let isApproved = true; // Boolean Literal

        let firstName; // undefined

        let lastName = undefined; // Explicit undefined

        let selectedColor = null; // null


    </script>
</head>
<body>
</body>
</html>
