
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lesson4</title>

    <script>
        // Objects

        // {} Object Literal
        let objLiteral = {
            key1: 'value1',
            key2: 'value2',
            key3: 'value3',

        };

        /* we use curly braces for Object Literals and Functions and Control Flow */
        let person = {
            // separate key from value with colon (:)
            firstName: "Armin", // separate key value pairs with comma (,)
            lastName: "Shoeibi",
            age: 19,
            isMarried: false,
        };

        console.log(person);

        // adding some properties to person object with Dot Notation and Bracket Notation
        person.hairColor = "Black";
        person.eyeColor = "Black";
        person["nationality"] = "Iranian";
        console.log(person);


    </script>
</head>
<body>
</body>
</html>
